<h1>Rails-Stripe integration</h1>
<p>The aim of this website is to test all the possible integrations between Stripe and Rails.</p>
<p>Opensource repo: <%= link_to "https://github.com/davideghz/stripe_rails", 'https://github.com/davideghz/stripe_rails', target: "_blank" %></p>
